.icon-slide {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ts-mw-icon {
    width: 50px;
    height: 50px;
    background: transparent;
    position: relative;
    border-radius: 100%;
}
.ts-mw-icon .slides {
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 0;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
.ts-mw-icon > .slides.active {
    opacity: 1;
    z-index: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.ts-mw-icon .slides span img {
    display: block;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}
.ts-mw-icon .messenger-icon {
    position: relative;
    top: 3px;
}
.icon  {
    cursor: pointer;
}
.icon img {
    width: 50px;
    height: 50px;
    background-size: contain;
    display: block;
    margin: auto;
}
.main-icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-tip {
    position: absolute;
    width: 75%;
    background: #dbf2ff;
    color: #27a6f3;
    font-weight: bold;
    padding: 16px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #a2dcff;
    left: 50%;
    bottom: 80px;
    transform: translate(-50%);
    transition: 0.3s ease-out;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}
.input-tip::after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-top: 0px;
    border: 6px solid transparent;
    border-top-color: #a7defe;
    color: #daf1ff;
}
.icon-text.control-label {
    padding-bottom: 0;
    padding-top: 5px;
}
.ts-content input:hover + .input-tip, .ts-content input:focus + .input-tip {
    opacity: 1;
    visibility: visible;
}
.ts-content td{
    position: relative;
}
.main-icon i, .modal-icon img {
    font-size: 24px;
    width: 55px;
    height: 55px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.modal-icon i, .modal-icon img {
    font-size: 26px;
    cursor: pointer;
}
.modal-icons-title {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}
#main_icon .modal-body, .modal-call .modal-body .modal-icons {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
#main_icon .modal-body div, .modal-call .modal-body .modal-icons div {
    margin: 10px 0;
}
.modal-icons:not(:last-child) {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
}
.main-icon.animation_1 {
    -webkit-animation: tossing 1.5s infinite;
    -o-animation: tossing 1.5s infinite;
    animation: tossing 1.5s infinite;
    color: #fff;
    cursor: unset;
}
.pulse {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
}
.pulse:before, .pulse:after {
    content: " ";
    display: block;
    position: absolute;
    border: 50%;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius:100%;
    animation: pulse 2s linear infinite;
    opacity: 0;
    backface-visibility: hidden;
}
.pulse:after {
    animation-delay: .5s;
}
.adaptation {
    position: absolute;
    left: 35%;
    bottom: 63px;
    cursor: pointer;
    background: #39aaf4;
    color: #fff;
    padding: 3px 10px;
    border-radius: 6px;
}
.modal-theme {
    background: #27a6f3;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
}
#show-animation.scale {
    animation: scale .4s linear;
}
#show-animation.translate {
    animation: translate .4s linear;
}
.ts-content.tab-content .tab-pane {
    display: none;
}
.ts-content.tab-content .active {
    display: table-cell;
    background-color: transparent;
}
.table {
    border: 1px solid #eff8fd;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-bottom: 1px solid #eff8fd;
}
.table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover, .table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr.active:hover > th {
    background-color: transparent;
}
.table-hover > tbody > tr {
    transition: .3s ease-out;
}
.table-hover > tbody > tr:hover {
    background-color: #f2fafe;
}
@keyframes translate {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes scale {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes tossing {
    0% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}
@-webkit-keyframes tossing {
    0% {
        -webkit-transform: rotate(-20deg);
    }
    50% {
        -webkit-transform: rotate(20deg);
    }
    100% {
        -webkit-transform: rotate(-20deg);
    }
}
@keyframes pulse
{
    0%
    {
        transform: scale(0.5);
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(0.8);
        opacity: 0;
    }
}